@page
@model CTTSite.Pages.User.LogIn.ForgottenPasswordPageModel
@{
}
<h1>Forgotten Password</h1>
<br />
<h3>@Model.Message</h3>

<div class="row">
	<div class="col-12">
		<form method="post" class="form-inline">
			<div class="input-group mb-3">
				<input asp-for="Email" class="form-control mr-1" placeholder="Enter User Email" />
				<input type="submit" asp-page-handler="PasswordRecovery" value="Send" class="btn btn-dark" />
			</div>
		</form>
		<p>
			<a href="LogInPage" class="btn">Back</a>
		</p>
	</div>
</div>