@page
@model CTTSite.Pages.User.LogIn.PasswordErrorModel
@{
}
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content bg-dark" >
            <div class="modal-header">
                <h3 class="modal-title" style="color: #CCEAF6">Something went wrong with your password changes</h3>
            </div>
            <div class="modal-body" style="color: #E0F6CC">
                <p><b>Please ensure that your password contains at:
                   
                </b>
                    <ul>
                        <li>At least 6 characters</li>
                        <li>At least 1 uppercase letter</li>
                        <li>At least 1 lowercase letter</li>
                        <li>At least 1 number</li>
                    </ul>
                    And that your password and confirm password fields match
                </p>
            </div>
            <div class="modal-footer">
                <form method="post">                   
                    <a class="btn btn-outline" style="color: #CCEAF6; outline-color: #CCEAF6" asp-page="EditUserDetails">Okay</a>
                </form>

            </div>
        </div>
    </div>
</div>

                     @section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#myModal").modal({ backdrop: "static" });
            $("#myModal").modal('show')
        })
    </script>
}