@page
@model CTTSite.Pages.Store.OrderConfirmationPageModel
@{
}

<div class="text-center">
    <h1>Thank you for your purchase!</h1><br />
    <h3>Your order number is: @Model.OrderId</h3><br />
</div>