@page
@model CTTSite.Pages.Store.OrderConfirmationPageModel
@{
}

<body style="background-color:#f6d8cc;">
    <div class="text-center">
        <h1>Thank you for your purchase!</h1><br />
        <h4>Please come again!</h4><br />
        <br />
        <a asp-page="/Index" class="btn btn-dark">Back to Homepage</a>
        <a asp-page="SpecificUserOrdersPage" class="btn btn-dark">Veiw your order</a>
    </div>
</body>
