@page
@model CTTSite.Pages.Admin.UpdateErrorPageModel
@{
}
<h1 class=" alert-danger">
    Update Error
</h1>
<h3 class="text-danger">
    The user could not be updated due to an error.
</h3>

<h5>Please try again with a valid new email address and a password which contains at least 6 characters and at least 1 capital letter</h5>
<p>
    <a href="GetAllUsers" class="btn btn-primary">Back</a>
</p>
    