@page
@model CTTSite.Pages.Store.Product.CreateProductPageModel
@{
}

<div class="container-fluid">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h4 class="text-center"><b>Create Product</b></h4>
        <br />
        <form method="post">
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control" />
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <input asp-for="Item.Description" class="form-control" />
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Price" class="control-label"></label>
                <input asp-for="Item.Price" class="form-control" />
                <span asp-validation-for="Item.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Stock" class="control-label"></label>
                <input asp-for="Item.Stock" class="form-control" />
                <span asp-validation-for="Item.Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.IMG" class="control-label"></label>
                <input asp-for="Item.IMG" class="form-control" />
                <span asp-validation-for="Item.IMG" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />
                <a asp-page="AdminProductsPage" class="btn btn-outline-dark">Back</a>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

</div>