@page
@model CTTSite.Pages.AboutModel
@{
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center text-dark">
            <h1><b>About Us</b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4">
                <img src="~/photos/jenoncall.png" class="responsive"/>
            </div>
            <div class="col-md-4"></div>
    </div>
    <br />
    <div class="row">
        
        <div class="col-md-12 text-center text-dark">
           <p>
                I'm Jennie, a Cognitive Behavioural Psychotherapist, also known as a CBT Therapist, from Buckinghamshire, UK. <br />
                I'm the owner of Chiltern Talking Therapies.<br /><br />

                I have completed a Cognitive Behavioural Therapy Masters course (2 years) and am accredited with the<br />
                British Association for Behavioural and Cognitive Psychotherapies (BABCP).<br /><br />

                Any Therapist would be happy to show copies of their certificates - as I will be! You can also check on the BABCP <br />
                website - https://www.cbtregisteruk.com/. My BABCP Accreditation number is 998690.<br /><br />

                As well as my private practice, I also work within the NHS as a CBT Therapist. I've worked within the NHS for six years<br /> 
                so far. Prior to becoming a CBT Therapist, I worked with offenders in the community and in Prisons, in a variety of<br /> 
                different roles. I have completed Psychology and Criminal Behaviour / Criminal Law degrees also. <br /><br />

                I like to think that I am compassionate and non-judgemental. I have piercings and tattoos and I ride motorbikes! <br />
                For years I have worked with individuals within the Criminal Justice System and with individuals who use substances to <br />
                cope with life. I hope to make you feel welcome and comfortable throughout our sessions. <br /><br />

                I am collaborative, which means that I will not be telling you what to do - I am not a teacher! We will both be equal <br />
                participants in your therapy. We will combine my knowledge of mental health and CBT, with your knowledge of your <br />
                situation and symptoms.<br /><br />

                I have a clean Disclosure and Barring Service (criminal record) check and would be happy to share any of my <br />
                certificates with you - please do ask.<br /><br />

                I am not the only person to be working within Chiltern Talking Therapies, I also have a Trainee CBT Therapist,<br />
                Art Psychotherapist and Counsellor working with me.<br /><br />

                ​

                And why Chiltern Talking Therapies you ask? I grew up in the Chiltern hills!<br /><br />

                ​

                I look forward to hearing from you :-)<br />
           </p>
        </div>
        
    </div>
</div>
    <div class="container-fluid greenBackground" style="background-color:#E0F6CC">
        <div class="row" style="padding: 4%; margin-top: 4%">
            <div class="col-md-12 text-center text-dark">
                <h1><b>Jennie's Background</b></h1>
            </div>
            <div class="row" style="padding: 4%; margin-top: 4%">
            <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                <img src="~/photos/jenpinkhair.png" class="responsive"  />
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row" style="padding: 2%; margin-top: 2%">
            <div class="col-md-3 text-left text-dark">
                <h4>CBT FOR AUTISTIC SPECTRUM DISORDERS</h4>
            </div>
            <div class="col-md-3 text-left text-dark">
                <h4>June 2021</h4>
            </div>
            <div class="col-md-6 text-left text-dark">
                <p>A short (one day) course in my NHS day job focussing on how to adapt CBT for clients with Autism.</p>
            </div>
        </div>

        <div class="row" style="padding: 2%; margin-top: 2%">
            <div class="col-md-3 text-left text-dark">
                <h4>LONG TERM CONDITIONS COURSE</h4>
            </div>
            <div class="col-md-3 text-left text-dark"><h4>2021</h4>
            </div>
            <div class="col-md-6 text-left text-dark">
                <p>Studied at Exeter University. Learning how to adapt CBT for individuals with long term health conditions such as diabetes, respiratory issues or pain.</p>
            </div>
        </div>

        <div class="row" style="padding: 2%; margin-top: 2%">
            <div class="col-md-3 text-left text-dark">
                <h4>DBT INTRODUCTION COURSE</h4>
            </div>
            <div class="col-md-3 text-left text-dark">
                <h4>March 2021</h4>
            </div>
            <div class="col-md-6 text-left text-dark">
                <p>Dialectical Behavioural Therapy (DBT) is a type of talking therapy which stems from CBT. It can be helpful to use with people who struggle with managing strong emotions. DBT has a strong emphasis on acceptance of your current situation and trying to see how things which seem opposite, can often both be true. I will be completing my full training and qualifying as a DBT Therapist - I am not yet fully qualified.</p>
            </div>
        </div>

        <div class="row" style="padding: 2%; margin-top: 2%">
            <div class="col-md-3 text-left text-dark">
                <h4>MOTIVATIONAL INTERVIEWING</h4>
            </div>
            <div class="col-md-3 text-left text-dark">
                <h4>2020</h4>
            </div>
            <div class="col-md-6 text-left text-dark">
                <p>MI is an evidence based approach to behaviour change. It can be helpful to guide individuals toward their goals by exploring their own reasons to change and empowering them to achieve them.</p>
            </div>
        </div>

        <div class="row" style="padding: 2%; margin-top: 2%">
            <div class="col-md-3 text-left text-dark">
                <h4>CBT MASTERS COURSE</h4>
            </div>
            <div class="col-md-3 text-left text-dark">
                <h4>2018-2020</h4>
            </div>
            <div class="col-md-6 text-left text-dark">
                <p>Instead of completing a Postgraduate Diploma, I completed the full Masters programme including a dissertation. The course is a two year course, accredited by the BABCP. In order to join this course, I had to prove that I had the knowledge, skills and attitudes to attend the course. Whilst on the course, I had to complete a minimum of 200 hours of therapy with clients and 450 hours of study, with intensive supervision and assessment.</p>
            </div>
        </div>

        <div class="row" style="padding: 2%; margin-top: 2%">
            <div class="col-md-3 text-left text-dark">
                <h4>PSYCHOSIS TRAINING COURSE</h4>
            </div>
            <div class="col-md-3 text-left text-dark">
                <h4>2017</h4>
            </div>
            <div class="col-md-6 text-left text-dark">
                <p>Psychosis is when you may experience hallucinations (hearing or seeing things) or you may have beliefs which are out of touch with reality.</p>
            </div>
        </div>

        <div class="row" style="padding: 2%; margin-top: 2%">
            <div class="col-md-3 text-left text-dark">
                <h4>NHS TRAINING COURSES</h4>
            </div>
            <div class="col-md-3 text-left text-dark">
                <h4>2016-present</h4>
            </div>

            <div class="col-md-6 text-left text-dark">
                <p>Health and safety, information governance, personal protection, risk management, suicide and self-harm, safeguarding children and adults, emergency life support, fire safety, infection control, manual handling, equality and diversity, PREVENT, dementia awareness, mental capacity act, smoking sessation adviser, clinical record keeping, medicines in mental health, quality improvement.</p>
            </div>
        </div>

        <div class="row" style="padding: 2%; margin-top: 2%">
            <div class="col-md-3 text-left text-dark">
                <h4>PSYCHOLOGY AND CRIMINAL BEHAVIOUR DEGREE</h4>
            </div>
            <div class="col-md-3 text-left text-dark">
                <h4>2016-2018</h4>
            </div>
            <div class="col-md-6 text-left text-dark">
                <p>Undergraduate degree including dissertation. Focussed on Forensic Psychology.</p>
            </div>
        </div>

        <div class="row" style="padding: 2%; margin-top: 2%">
            <div class="col-md-3 text-left text-dark">
                <h4>PSYCHOLOGY AND CRIME DEGREE</h4>
            </div>
            <div class="col-md-3 text-left text-dark">
                <h4>2011-2013</h4>
            </div>
            <div class="col-md-6 text-left text-dark">
                <p>Foundation degree, again based on Forensic Psychology</p>
            </div>

        </div>
    </div>
</div>
      

