@page
@model CTTSite.Pages.AboutModel
@{
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center text-dark">
            <h1><b>About Us</b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <img src="~/photos/jenoncall.png" class="responsive"/>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br />
    <div class="row">
        
        <div class="col-md-12 text-center text-dark">
           <p>
I'm Jennie, a Cognitive Behavioural Psychotherapist, also known as a CBT Therapist, from Buckinghamshire, UK. <br />
I'm the owner of Chiltern Talking Therapies.<br /><br />

I have completed a Cognitive Behavioural Therapy Masters course (2 years) and am accredited with the<br />
British Association for Behavioural and Cognitive Psychotherapies (BABCP).<br /><br />

Any Therapist would be happy to show copies of their certificates - as I will be! You can also check on the BABCP <br />
website - https://www.cbtregisteruk.com/. My BABCP Accreditation number is 998690.<br /><br />

As well as my private practice, I also work within the NHS as a CBT Therapist. I've worked within the NHS for six years<br /> 
so far. Prior to becoming a CBT Therapist, I worked with offenders in the community and in Prisons, in a variety of<br /> 
different roles. I have completed Psychology and Criminal Behaviour / Criminal Law degrees also. <br /><br />

I like to think that I am compassionate and non-judgemental. I have piercings and tattoos and I ride motorbikes! <br />
For years I have worked with individuals within the Criminal Justice System and with individuals who use substances to <br />
cope with life. I hope to make you feel welcome and comfortable throughout our sessions. <br /><br />

I am collaborative, which means that I will not be telling you what to do - I am not a teacher! We will both be equal <br />
participants in your therapy. We will combine my knowledge of mental health and CBT, with your knowledge of your <br />
situation and symptoms.<br /><br />

I have a clean Disclosure and Barring Service (criminal record) check and would be happy to share any of my <br />
certificates with you - please do ask.<br /><br />

I am not the only person to be working within Chiltern Talking Therapies, I also have a Trainee CBT Therapist,<br />
Art Psychotherapist and Counsellor working with me.<br /><br />

​

And why Chiltern Talking Therapies you ask? I grew up in the Chiltern hills!<br /><br />

​

I look forward to hearing from you :-)<br />
           </p>
        </div>
        
    </div>
</div>