@page
@model CTTSite.Pages.FAQModel
@{
}
<div class="container-flex" style="margin-bottom: 4%">
    <div style=" padding-block:5%;margin-top: 4%" class="text-dark col-12">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>HOW CAN CBT HELP ME?</b></h3>
                <br />

                <p>CBT can be applied to a wide range of mental health difficulties.</p>
                <br />

                <p>We will look at the link between your thoughts, emotions, physical symptoms and behaviours.</p>
                <br />

                <p>We will discuss your goals for therapy and use evidence based techniques to improve your situation.</p>
                <br />

                <p>Please feel free to contact us for a free 30 minute consultation and we can discuss further. If we feel a different style of therapy might suit you better, we will let you know.</p>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div style=" padding-block:5%;margin-top: 4%; background-color: #E0F6CC" class="text-dark col-12 greenBackground">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>WHAT DOES A COURSE OF CBT TREATMENT LOOK LIKE?</b></h3>
                <br />

                <p>CBT is very active. You should not expect to attend sessions and just talk about your week or process past experiences. This will be a part of our session, but we will be attempting to change thoughts and behaviours in every session, as well as outside of sessions. </p>
                <br />

                <p>Initially we will complete an assessment and discuss your goals for therapy. We will agree a treatment plan and approximate number of sessions required to achieve this. If we believe you will benefit from another type of therapy, we will discuss at this stage.</p>
                <br />

                <p>We will move on to 'formulate' your difficulties - creating a shared understanding of where your difficulties have come from and what could be keeping them going.</p>
                <br />

                <p>Treatment will then start, usually with some information about your specific difficulties (e.g. learning more about depression or sleep issues) and then will move on to changing thoughts and behaviours.</p>
                <br />

                <p>Throughout treatment we will review your progress and adjust your treatment plan if necessary.</p>
                <br />

                <p>Toward the end of therapy, we will create a relapse prevention plan to summarise what we have worked on, things you have learned, and any goals you still want to work towards. </p>
                <br />

                <p>We will usually start with weekly sessions, then move to fortnightly sessions to enable you to use the coping strategies independently and build your confidence in maintaining your progress. </p>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div style=" padding-block:5%;margin-top: 4%; background-color: #CCEAF6" class="text-dark col-12 blueBackground">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>WHAT DOES A CBT SESSION LOOK LIKE?</b></h3>
                <br />

                <p>Treatment will be completely individual to you, however most sessions follow a typical structure of:</p>
                <br />

                <p>Agenda setting - what do we want to get from our session today?</p>
                <br />

                <p>Check in - how has your mood been since our last session? Has anything difficult come up that we need to discuss?</p>
                <br />

                <p>Risk - we will always check in to ensure you are able to manage your own risk.</p>
                <br />

                <p>Reviewing homework tasks - how did you find practising techniques out of session? What did you learn? Can we build on these somehow? Do you need us to go through anything with you?</p>
                <br />

                <p>Some kind of learning activity in session - as already highlighted, CBT is very active, so we will look to use data gathered from homework, or conduct experiments etc in session!</p>
                <br />

                <p>Agreeing the next homework task / session - what do we think you could try which would help to chip away at your goals? When is our next session? Will this be remote or face to face, in the office or in a certain location?</p>
                <br />

                <p>Our sessions will usually be 50-60 minutes long, but we may need to book 90 minute sessions.</p>
                <br />

                <p>For young people, we will usually have your parent(s)/caregiver(s) attend for a part of the session. This will depend on your age and will be agreed in our first few sessions. We involve your parent(s)/caregiver(s) for a number of reasons: firstly, to keep them in the loop so they can understand the techniques and support you with them; secondly, to inform them of any important issues which come up in the session, e.g. risk. Parent(s)/caregiver(s) may attend for the first few minutes, the last part of the session, or the whole session. </p>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div style=" padding-block:5%;margin-top: 4%" class="text-white bg-dark col-12">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>WHAT WILL I HAVE TO DO? WHAT WILL MY THERAPIST DO?</b></h3>
                <br />

                <p>You will be expected to take an active role in your therapy. Your therapist will not be telling you what to do. You will work collaboratively to change your situation.</p>
                <br />

                <p>You are the expert of your own mental health, your situation, your experiences. </p>
                <br />

                <p>Your therapist brings knowledge of evidence based techniques which they can apply to your individual situation.</p> 
                <br />

                <p>You will be expected to attend appointments on time, complete homework, send homework or complete questionnaires in advance of sessions, note down questions or concerns and try to make some small changes in your life to make big changes in your mental health. </p>
                <br />

                <p>This may sound like a lot, and it is. Therapy is hard work! But we will be working together to address your current situation and work toward your goals for therapy. </p>
                <br />

                <p>If you're not doing your homework, you better believe your therapist will be calling you out on it! </p>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div style=" padding-block:5%;margin-top: 4%" class="text-dark col-12 redBackground">   
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>HOW MUCH WILL THIS COST?</b></h3>
                <br />

                <p>Please see the 'services' page for our current fees.</p>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div style=" padding-block:5%;margin-top: 4%; background-color: #E0F6CC" class="text-dark col-12 greenBackground">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>HOW ARE VIRTUAL SESSIONS CONDUCTED?</b></h3>
                <br />

                <p>Virtual sessions can be via Microsoft Teams or Zoom.</p>
                <br />

                <p>We have the option to 'share' our screens, so we can complete work together.</p>
                <br />

                <p>We will need to email each other with questionnaires or homework tasks etc.</p>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div style=" padding-block:5%;margin-top: 4%; background-color: #CCEAF6" class="text-dark col-12 blueBackground">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>WHERE CAN I SEE SOMEONE FACE TO FACE?</b></h3>
                <br />

                <p>We are currently able to offer face to face sessions in a large room in Berkhamsted, Herts. This enables us to stay Covid-19 secure. Please contact us for more details.</p>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div style=" padding-block:5%;margin-top: 4%" class="text-white bg-dark col-12">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>HOW MANY SESSIONS WILL I NEED?</b></h3>
                <br />

                <p>This is completely individual to you. This will be discussed with your presenting problems and financial situation in mind. </p>
                <br />

                <p>We may decide to focus on one specific issue at a time. </p>
                <br />

                <p>The majority of CBT treatments recommend between 6 and 20 sessions. </p>
                <br />

                <p>If you are experiencing symptoms of PTSD, you will likely need longer sessions (90 mins) and possibly for a longer period.</p>
                <br />

                <p>Please look at the NICE guidelines for more information - www.nice.org.uk.</p>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div style=" padding-block:5%;margin-top: 4%" class="text-dark col-12 redBackground">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>WHY DO I NEED TO COMPLETE HOMEWORK / QUESTIONNAIRES?</b></h3>
                <br />

                <p>We will be following treatment protocols derived from CBT research. These are clinical trials where therapists treat patients in a certain way. In these trials, therapists followed certain treatment protocols which included clients setting small homework tasks and their treatment was successful.</p>
                <br />

                <p>We want your treatment to be as effective as possible, and this means following the evidence base. </p>
                <br />

                <p>If you are not completing homework tasks, you are unlikely to benefit from our time together.</p>
                <br />

                <p>You are occasionally asked to complete questionnaires to give your therapist an idea of your current mental health symptoms. These can be tracked throughout therapy and can highlight other issues such as risky thoughts. </p>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div style=" padding-block:5%;margin-top: 4%; background-color: #E0F6CC" class="text-dark col-12 greenBackground">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>HOW DO I KNOW MY THERAPIST IS DOING THEIR JOB TO A GOOD STANDARD?</b></h3>
                <br />

                <p>Your therapist will be receiving regular clinical supervision, where they discuss their work with a senior therapist. This allows them to explore the work completed, the treatment plan, risk issues, progress or problems which might arise. Their supervisor will be able to monitor that their therapy is to a good standard. </p>
                <br />

                <p>Your therapist is bound by the British Association of Behavioural and Cognitive Psychotherapies (BABCP) code of conduct and ethics. If you believe that they are not adhering to these guidelines, you can contact the BABCP directly. Please see the guidelines at www.babcp.com. </p>
                <br />

                <p>In order to maintain their accreditation with the BABCP, your therapist must maintain logs and attend further training every year. </p>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div style=" padding-block:5%;margin-top: 4%; background-color: #CCEAF6" class="text-dark col-12 blueBackground">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>WHAT ABOUT CONFIDENTIALITY?</b></h3>
                <br />

                <p>Your therapist is bound by the BABCP code of conduct and ethics which sets out expectations around confidentiality. This includes using information only for the purpose of which it was shared and protecting client confidentiality. </p>
                <br />

                <p>Your attendance and the content of sessions will be kept confidential.</p>
                <br />

                <p>Your therapist will keep some clinical notes about sessions, your presentation, homework and risk which will be kept confidential and will be kept securely for a minimum of 7 years. </p>
                <br />

                <p>You will be assigned a code (e.g. JC1) and documents will be password protected. You can ask to review your notes. </p>
                <br />

                <p>You may decide that you are happy for your therapist to discuss your appointments with someone else. This will be agreed during your assessment sessions. </p>
                <br />

                <p>Your therapist will keep a record of your GP surgery on file. </p>
                <br />

                <p>The only circumstances where your therapist may divulge confidential information is if they believe that you present a potential risk to yourself or others. This includes suicidal thoughts, crimes, or safeguarding concerns. Your therapist will aim to discuss with you, but this may not be possible and retain the right to discuss concerns without consent.</p>
                <br />

                <p>Under these circumstances, your therapist will contact your GP to keep them informed and ask them to support you.</p>
                <br />

                <p>Chiltern Talking Therapies is registered with the Information Commissioners Office (https://ico.org.uk/ - ref A8917580). </p>
                <br />

                <p>When working with a Trainee Therapist, the only person the Trainee CBT Therapist will discuss your case with is Jennie (owner of Chiltern Talking Therapies and Supervisor of Trainees).</p>
                <br />

                <p>Jennie may choose to discuss your case with her Clinical Supervisor. The only reason we would break confidentiality outside of our Supervision structure is in case of risk.</p>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div style=" padding-block:5%;margin-top: 4%" class="text-white bg-dark col-12">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>WHAT IS YOUR CANCELLATION POLICY?</b></h3>
                <br />

                <p>If for any unforeseen circumstances it becomes necessary to cancel an appointment, we will endeavour to provide you with a minimum of 48 hours’ notice. You may hear from your Trainee Therapist or their Supervisor (Jennie).</p>
                <br />

                <p>You will be required to attend all booked appointments promptly and at the date and time agreed. If you are unable to attend an appointment, you must also endeavour to provide 48 hours’ notice by calling or texting 07949 889492 or emailing chilterntalkingtherapies@gmail.com.</p>
                <br />

                <p>If you provide less 48 hours’ notice, you agree to pay a remittance of 50% of the agreed session costs and if you provide less than 24 hours’ notice, you agree to pay the full session cost.</p>
                <br />

                <p>If you would prefer to move from face to face sessions to remote sessions, please provide your Therapist with 7 days’ notice. </p>
                <br />

                <p>If you need to cancel lots of sessions due to unforeseen circumstances, we will discuss whether this is the right time for you to engage in therapy.</p>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div style=" padding-block:5%;margin-top: 4%" class="text-dark col-12 redBackground">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>HOW DO I MAKE PAYMENT?</b></h3>
                <br />

                <p>Payment for sessions is to be made in advance. You can make payment by cash (if in person) or bank transfer. Cheques are not accepted as payment.</p>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div style=" padding-block:5%;margin-top: 4%; background-color: #E0F6CC" class="text-dark col-12 greenBackground">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>WHAT IS THE FREE 30 MIN CONSULTATION SESSION?</b></h3>
                <br />

                <p>This is a free telephone call for your therapist to briefly understand your difficulties and for you to ask questions before you commit to a full session. </p>
                <br />

                <p>You can discuss your goals and whether CBT will be a good fit for you. </p>
                <br />

                <p>Your therapist must act in your best interests (as set out by the BABCP) so if they think you would benefit from a different type of therapy, you can discuss this together. </p>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div style=" padding-block:5%;margin-top: 4%; background-color: #CCEAF6" class="text-dark col-12 blueBackground">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>WHY WOULD I CHOOSE CHILTERN TALKING THERAPIES?</b></h3>
                <br />

                <p>Jennie has a Cognitive Behavioural Therapy Masters and lots of experience working with a wide range of presenting problems.</p>
                <br />

                <p>Jennie is non-judgemental, kind and supportive, but she will push you too!</p>
                <br />

                <p>Clean Disclosure and Barring Service (criminal record) check.</p>
                <br />

                <p>Fully insured.</p>
                <br />

                <p>Regular supervision to discuss cases.</p>
                <br />

                <p>Free 30 min consultation to discuss questions and concerns before committing to therapy sessions. v
                <br />

                <p>Jennie is accredited with the BABCP. Worryingly, some people claim to be CBT Therapists but do not meet the incredibly high standards to gain accreditation. These standards mean that Jennie had the knowledge, skills and experience working within mental health teams before being able to apply to train as a CBT Therapist. </p>
                <br />

                <p>Jennie had completed Psychology degrees prior to starting her CBT Masters course.</p>
                <br />

                <p>On her Masters Course, Jennie completed 250 taught hours at University, multiple assessments and 200 hours of self-directed study, where she learned about the evidence base of CBT. </p>
                <br />

                <p>She was supervised by CBT Therapists and Psychologists whilst completing over 200 hours of sessions with clients which were recorded and monitored.</p>
                <br />

                <p>Please complete your research on therapists and their experience before investing your time and money.</p>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div style=" padding-block:5%;margin-top: 4%" class="text-white bg-dark col-12">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>WHAT ABOUT WORKING WITH A TRAINEE?</b></h3>
                <br />

                <p>Chiltern Talking Therapies offers Trainee CBT Therapists the opportunity to practice with suitable clients.</p>
                <br />

                <p>Trainees are attending University and working toward their accreditation to become a Qualified CBT Therapist. Sessions are usually audio recorded.</p>
                <br />

                <p>Our current Trainee CBT Therapist (Inga) is a qualified Art Psychotherapist, but is training in a new method of therapy – CBT.</p>
                <br />

                <p>She has completed over 100 hours of individual CBT practice to date and requires 200 hours to pass her postgraduate University course and qualify as a CBT Therapist.</p>
                <br />

                <p>Trainees are heavily supervised by Jennie (qualified CBT Therapist and Owner of Chiltern Talking Therapies). They will have one hour of supervision per week, plus ad hoc supervision.</p>
                <br />

                <p>When working with a Trainee CBT Therapist, sessions are usually audio recorded. This is not mandatory, but helps to develop the Trainee’s skills.</p>
                <br />

                <p>Audio recordings are played in Supervision in order for the Qualified CBT Therapist to listen to the Trainee CBT Therapist and give feedback. The purpose of this Supervision is only to monitor ethics and CBT practice, as well as giving feedback on the Trainee CBT Therapist’s style. The client is not the focus of these Supervision sessions, instead this is to support the Trainee’s practice and sign off the required skills, knowledge and attitudes.</p>
                <br />

                <p>With regard to confidentiality, the only person the Trainee CBT Therapist will discuss your case with is Jennie. Jennie may choose to discuss your case with her Clinical Supervisor. The only reason we would break confidentiality outside of our Supervision structure is in case of risk.</p>
                <br />

                <p>If chosen following a 30 min consultation, your difficulties appear suitable to work with a Trainee CBT Therapist you will be offered this option. Though if this changes you will be transferred to working with Jennie, or another suitably qualified Therapist, to ensure your needs are met.</p>
                <br />

                <p>If you change your mind and do not want to work with a Trainee CBT Therapist, or no longer wish to be recorded, this is absolutely fine, please let us know.</p>
                <br />

                <p>If you have any concerns about your Trainee CBT Therapist’s practice, you can contact Jennie directly on 07949 889 492 or chilterntalkingtherapies@gmail.com.</p>
                <br />

                <p>Due to working with a Trainee, the cost of therapy will reflect this and is reduced. </p>
                <br />

                <p>Please take your time to consider this decision and feel free to contact Jennie to discuss further. If you would like the opportunity to speak to our Trainee (currently Inga) before committing to working with her, please let us know and we will arrange a free 30 minute consultation.</p>
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div style=" padding-block:5%;margin-top: 4%" class="text-dark col-12 redBackground">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3><b>ANY OTHER QUESTIONS?</b></h3>
                <br />

                <p>Please call, text or email for more information, or to book your free 30 minute consultation. </p>
                <br />
    
                <p>I hope to hear from you soon!</p>
                <br />
                <div class="col-md-1"></div>
            </div>
        </div>
    
    </div>
</div>