@page
@model CTTSite.Pages.ServicesModel
@{
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center text-dark">
            <h1><b>COGNITIVE BEHAVIOURAL THERAPY</b></h1>
        </div>
    </div>
    
    <br /><br /> 
    <div class="row">
        
        <div class="col-md-12 text-center text-dark">
           <p>CBT is a type of talking therapy which looks at the link between your thoughts, emotions, physical symptoms and behaviours.
               <br /> <br /> 
               It is goal focussed, helping you to understand your difficulties and giving you practical coping strategies.
               <br /><br /> 
               CBT can be used to help adults and young people with a variety of different problems such as:
               <br /><br /> 
               - Depression or low mood
               <br /><br /> 
               - Anxiety
<br /><br /> 
- Panic attacks
<br /><br /> 
- Phobias (such as needles, dogs, heights etc)
<br /><br /> 
- Obsessive Compulsive Disorde
<br /><br /> 
- Post Traumatic Stress Disorde
<br /><br /> 
- Problems with sleeping and eatin
<br /><br /> 
- Social Anxiety
<br /><br /> 
- Low self-esteem
<br /><br /> 
- Perfectionism
<br /><br /> 
- Anger or other strong emotions
<br /><br /> 
- Stress
<br /><br /> 
- Agoraphobia
<br /><br /> 
- Adapting to or managing long term health conditions
<br /><br /> 
- Health anxiety
<br /><br /> 
- And much more!
<br /><br /> <br /> 

​

<b>Fees:</b>
<br /> <br /> 

Initial consultation (30 mins - remote) - Free
<br /><br /> 
Individual session (50-60 mins) - £80 (Jennie) / £60-80 (Associate Therapists)
<br /><br /> 
Individual session (90 mins) - £120 (Qualified) / £90-120 (Associate Therapists)
<br />
<br />​
Rates are subject to change. Rates vary depending on Therapist qualifications and accreditation status.
<br />
           </p>
        </div>
        
    </div>



<div class="container-fluid greenBackground" style="background-color:#E0F6CC">
    <div class="row" style="padding: 4%; margin-top: 4%">
        <div class="col-md-12 text-center text-dark">
            <h1><b>ART PSYCHOTHERAPY</b></h1>
        </div>
        <div class="row" style="padding: 4%; margin-top: 4%">
        <div class="col-md-12 text-center text-dark">
            <p>
Also interchangeably called Art Therapy is a form of psychotherapy that uses art media as its main mode of communication.
<br />
<br />​
People who are referred to Art Therapy do not need to have any experience or skill in art. The Art Therapist will not be commenting on the quality of their client’s work but will be more interested in how the client engages with materials, and their feelings and ideas about images or objects they make.
<br />
<br />​
Art Therapists aim to provide a safe, contained, consistent and confidential space to ‘play’ with the art materials. People using Art Therapy have opportunities to explore, change and grow on a personal level through making and reflecting on images and objects. The Art Therapist can help their client to understand feelings and ideas that arise within the art making process.
<br />
<br />​
All kinds of materials might be used – paint, pencils, crayons, clay, fabrics, collage materials, found objects and digital images.
<br />
<br />​
Sometimes the Art Therapist may offer an idea or theme to help make a start, but often clients do not need direction from the Therapist, as the art work will arise from their current thoughts, feelings and experiences.
<br />
<br />​
Art Therapy is particularly helpful for young people, and people who struggle to understand and communicate emotions. 
<br />
<br />​
Initial consultation (30 mins - remote): Free
<br />
<br />​
Individual session (50-60 mins): £80
<br />
<br />​
Individual session (90 mins): £120
<br />

           </p>
        </div>
    </div>

    
    </div>
    </div>
  </div>    