@page
@model CTTSite.Pages.ServicesModel
@{
}
<div class="container-flex">
    <div class="row">
        <div class="col-md-12 text-center text-dark">
            <h1><b>COGNITIVE BEHAVIOURAL THERAPY</b></h1>
        </div>
    </div>
    
    <br /><br /> 
    <div class="row">
        
        <div class="col-md-12 text-center text-dark">
           <p>CBT is a type of talking therapy which looks at the link between your thoughts, emotions, physical symptoms and behaviours.
               <br /> <br /> 
               It is goal focussed, helping you to understand your difficulties and giving you practical coping strategies.
               <br /><br /> 
               CBT can be used to help adults and young people with a variety of different problems such as:
               <br /><br /> 
               - Depression or low mood
               <br />
               - Anxiety
               <br />
               - Panic attacks
               <br />
               - Phobias (such as needles, dogs, heights etc)
               <br />
               - Obsessive Compulsive Disorde
               <br />
               - Post Traumatic Stress Disorde
               <br />
               - Problems with sleeping and eatin
               <br />
               - Social Anxiety
               <br />
               - Low self-esteem
               <br />
               - Perfectionism
               <br />
               - Anger or other strong emotions
               <br />
               - Stress
               <br />
               - Agoraphobia
               <br />
               - Adapting to or managing long term health conditions
               <br /> 
               - Health anxiety
               <br /> 
               - And much more!
               <br />
               <br />
               <br /> 

               <b>Fees:</b>
               <br /> <br /> 

               Initial consultation (30 mins - remote) - Free
               <br /><br /> 
               Individual session (50-60 mins) - £80 (Jennie) / £60-80 (Associate Therapists)
               <br /><br /> 
               Individual session (90 mins) - £120 (Qualified) / £90-120 (Associate Therapists)
               <br />
               <br />​
               Rates are subject to change. Rates vary depending on Therapist qualifications and accreditation status.
           </p>
        </div>
        
    </div>



    <div class="container-fluid greenBackground" style="background-color:#E0F6CC">
        <div class="row" style="padding: 4%; margin-top: 4%">
            <div class="col-md-12 text-center text-dark">
                <h1><b>ART PSYCHOTHERAPY</b></h1>
            </div>
            <div class="row" style="padding: 4%; margin-top: 4%">
                <div class="col-md-12 text-center text-dark">
                    <p>
                        Also interchangeably called Art Therapy is a form of psychotherapy that uses art media as its main mode of communication.
                        <br />
                        <br />​
                        People who are referred to Art Therapy do not need to have any experience or skill in art. The Art Therapist will not be commenting on the quality of their client’s work but will be more interested in how the client engages with materials, and their feelings and ideas about images or objects they make.
                        <br />
                        <br />​
                        Art Therapists aim to provide a safe, contained, consistent and confidential space to ‘play’ with the art materials. People using Art Therapy have opportunities to explore, change and grow on a personal level through making and reflecting on images and objects. The Art Therapist can help their client to understand feelings and ideas that arise within the art making process.
                        <br />
                        <br />​
                        All kinds of materials might be used – paint, pencils, crayons, clay, fabrics, collage materials, found objects and digital images.
                        <br />
                        <br />​
                        Sometimes the Art Therapist may offer an idea or theme to help make a start, but often clients do not need direction from the Therapist, as the art work will arise from their current thoughts, feelings and experiences.
                        <br />
                        <br />​
                        Art Therapy is particularly helpful for young people, and people who struggle to understand and communicate emotions. 
                        <br />
                        <br />​
                        <br />
                        <b>Fees:</b>
                        <br /> <br /> 
                        Initial consultation (30 mins - remote): Free
                        <br />
                        <br />​
                        Individual session (50-60 mins): £80
                        <br />
                        <br />​
                        Individual session (90 mins): £120
                    </p>
                </div>
            </div> 
        </div>
    </div>

    <div class="container-fluid blueBackground" style="background-color:#CCEAF6">
        <div class="row" style="padding: 4%; margin-top: 4%">
                <div class="col-md-12 text-center text-dark">
                    <h1><b>COUNSELLING</b></h1>
                </div>
            <div class="row" style="padding: 4%; margin-top: 4%">
                  <div class="col-md-12 text-center text-dark">
                      <p>
                          Counselling is a type of talking therapy which allows you to discuss how you have been feeling, explore your emotions, difficult situations and much more. 
                          <br />
                          <br />
                          Your trained Counsellor can help you to make sense of what is happening now, process what happened in the past, and start to move forward. 
                          <br />
                          <br />
                          Counselling is responsive to your needs, and you do not need to come to therapy with an agenda. Maybe you want someone to listen to you, or use counselling as a way to maintain your mood. 
                          <br />
                          <br />
                          If you are a couple who would like support, this is also an option. You may want to feel heard, or to feel safe exploring or discussing certain issues. Our trained Counsellor can help you with this.  
                          <br />
                          <br />
                          <br />
                          <b>Fees:</b>
                          <br /> <br /> 
                          ​30-minute consultation prior to therapy commencing: Free
                          <br />
                          <br />
                          50-minute individual session: £60
                          <br />
                          <br />
                          50-minute couples session: £85
                          <br />
                          <br />
                          90-minute couples session: £120
                      </p>
                 </div>
            </div> 
        </div>
    </div>

    <div class="container-fluid bg-dark text-white">
        <div class="row" style="padding: 4%; margin-top: 4%">
            <div class="col-md-12 text-center ">
                <h1><b>GROUPS (COMING SOON)</b></h1>
            </div>
            <div class="row" style="padding: 4%; margin-top: 4%">
                <div class="col-md-12 text-center">
                    <p>
                        Jennie has a lot of experience in facilitating group therapy and is in the process of creating groups for sleep, relaxation and other common issues.
                        <br /><br />
                        Please check back soon for more info!
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid redBackground">
        <div class="row" style="padding: 4%; margin-top: 4%">
            <div class="col-md-12 text-center text-dark">
                <h1><b>CLINICAL SUPERVISION</b></h1>
            </div>
            <div class="row" style="padding: 4%; margin-top: 4%">
                <div class="col-md-12 text-center text-dark">
                    <p>
                        Jennie is BABCP accredited and provides clinical supervision to CBT Therapists / Trainee CBT Therapists. 
                        <br />
                        <br />​
                        Jennie is laid back, enthusiastic and creative. Supervision sessions are reflective and fun. 
                        <br />
                        <br />​
                        Jennie draws on her experience within a variety of settings (prison, probation, IAPT) with a variety of individuals in order to support her supervisees.
                        <br />
                        <br />​
                        As Jennie did not complete an IAPT course, instead opting for a Masters, supervision sessions are more flexible and reflective. We will discuss supervision needs and create a supervision contract to ensure your needs are being met.
                        <br />
                        <br />
                        She has lots of experience of working with specific learning difficulties, such as dyslexia, and ADHD. This means she adapts supervision sessions to suit her supervisee's learning style. 
                        <br />
                        <br />​
                        We offer a discounted rate for students (as we have all been there!) and can mark CTSR's. 
                        <br />
                        <br />​
                        Supervision can be organised remotely, or face to face.
                        <br />
                        <br />
                        <br />
                        <b>Fees:</b>
                        <br /> <br /> ​
                        60 mins - £75
                        <br />
                        <br />
                        90 mins - £112.50
                    </p>
                </div>    
            </div>    
        </div>
    </div>


    <div class="container-fluid greenBackground" style="background-color:#E0F6CC">
        <div class="row" style="padding: 4%; margin-top: 4%">
            <div class="col-md-12 text-center text-dark">
                <h1><b>CONSULTANCY</b></h1>
            </div>
            <div class="row" style="padding: 4%; margin-top: 4%">
                <div class="col-md-12 text-center text-dark">
                    <p>
                        You may want to arrange some group or individual sessions for your organisation. This could focus on reflections, team building, developing a culture of wellbeing or to learn some CBT techniques.
                        <br />
                        <br />
                        If you'd like to establish your own therapy business, but don't know where to start, we also offer mentoring sessions. Jennie can offer a list of different things to consider, from insurance to registering as a business.  
                        <br />
                        <br />
                        Maybe it's career advice you're after? We can discuss the process of becoming a CBT Therapist, the KSA, study options, requirements and more. And to answer your first question - yes, it's definitely worth it!
                        <br />
                        <br />
                        All sessions can be one-off, or block booked. Maybe you just need half hour to discuss your KSA, or some bespoke training for your business. 
                        <br />
                        <br />
                        Please contact us to discuss your requirements.
                    </p>
                </div>
            </div> 
        </div>
    </div>


    <div class="container-fluid  blueBackground" style="background-color:#CCEAF6">
        <div class="row" style="padding: 4%; margin-top: 4%">
            <div class="col-md-12 text-center text-dark">
                <h1><b>TRAINEE CBT THERAPIST</b></h1>
            </div>
            <div class="row" style="padding: 4%; margin-top: 4%">
                <div class="col-md-12 text-center text-dark">
                    <p>
                        We now have a Trainee CBT Therapist offering therapy sessions at a discounted rate. The Trainee is already fully qualified in another discipline, but is now training in CBT. 
                        <br />
                        <br />
                        Trainees are heavily supervised by qualified Therapists, both at Chiltern Talking Therapies and their University.
                        <br /><br />
                        Practice sessions are an essential part of becoming a qualified CBT Therapist. They must complete 200 hours of therapy with clients before they can apply for accreditation.
                        <br /><br />
                        They must audio record sessions to play in supervision sessions which is for their own development, not to discuss your participation. The feedback is a crucial element for Trainees to learn and progress on their University course.
                        <br /><br />
                        If you would be interested in supporting a Trainee in their journey to becoming a fully accredited CBT Therapist, contact us today for more information.
                        <br /><br />
                        The offer of working with a Trainee is dependent upon your current difficulties and for a variety of reasons, you may or may not be suitable.
                        <br /><br /><br />
                        <b>Fees:</b>
                        <br /><br />
                        Initial consultation (30 mins - remote) - Free
                        <br /><br />
                        Individual session (50-60 mins) - £40
                        <br /><br />
                        Individual session (90 mins) - £60
                    </p>
                </div>
            </div>  
        </div>
    </div>

    <div class="container-fluid bg-dark text-white">
        <div class="row" style="padding: 4%; margin-top: 4%">
            <div class="col-md-12 text-center text-white">
                <h1><b>DISCOUNTED RATES</b></h1>
            </div>
            <div class="row" style="padding: 4%; margin-top: 4%">
                <div class="col-md-12 text-center">
                    <p>
                        We offer reduced rates for a number of clients throughout each financial year. This is usually reserved for clients who are job seekers, signed off work due to health conditions, OAPs, students and those on low wages. 
                        <br /><br />
                        We also offer a certain amount of free sessions each year to a local charity who is close to Jennie's heart. This charity will decide who will benefit from these sessions and can be used as they wish. 
                        <br /><br />
                        If you will struggle to pay the fees above, contact us and we can discuss further.
                    </p>
                </div>
            </div>   
        </div>
    </div>

    <div class="container-fluid redBackground">
        
        
            <div class="row" style="padding: 4%; margin-top: 4%">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <img src="~/photos/babcp-1.png" class="responsive"/>
                </div>
                <div class="col-md-3"></div>
            </div> 
       
    </div>

</div>    