@page
@model CTTSite.Pages.Forms.HotCrossBunPageModel
@{
}
<h1>Hot Cross Bun</h1>

@foreach (var prop in Model.GetType().GetProperties())
{
    <div class="form-group">
        <label asp-for="@prop.Name"></label>
        <input asp-for="@prop.Name" class="form-control" placeholder="Please Fill Out" />
        <span asp-validation-for="@prop.Name" class="text-danger"></span>
    </div>
})